name: Pytest

on:
  pull_request:
    branches:
      - main

jobs:
  pylint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: safesecurity/pytest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Run unit tests
      run: |
        pytest
