name: Black linter

on:
  pull_request:
    branches:
      - main

jobs:
  pylint:
    if: github.event.pull_request.draft == false
    runs-on: safesecurity/pytest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Run unit tests
      run: |
        pytest
